<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>	
	<link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
	<div class="alert">Sejam Bem Vindos à Wilson-Pipeline.</div>
	
	<div class="container">
		<div class="logo">
			<img src="/static/imgs/wilson-foto.png" alt="wilson-foto.jpg">
			
			<p class="keep-studying">Olá amigos, não fiquem parados, mantenham-se motivados e sempre continuem estudando sobre Infra Ágil, Cloud Computing, SRE e DevOps!</p>

			<p class="keep-studying">Não há limites para nossos conhecimentos!</p>

			<p class="keep-studying">LinkedIN: www.linkedin.com/in/wilsonribeiro2/</p>
					
		</div>
	</div>

</body>

</html>
