<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>	
</head>

<body>
	<div class="alert">Sejam Bem Vindos à Wilson-Pipeline.</div>
	
	<div class="container">
		<div class="logo">
			<img src="/static/imgs/wilson-foto.jpg" alt="wilson-foto">
			
			<p class="keep-studying">Não fique parado, continue estudando sobre DevOps!</p>

			<p class="keep-studying">LinkedIN: https://www.linkedin.com/in/wilsonribeiro2</p>
							
		</div>
	</div>

</body>

</html>
